name: CI - Build and Test

on:
  pull_request:
    branches:
      - main  # CI käynnistyy kun tehdään PR mainiin

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build project
      run: mvn clean package

    - name: Run tests
      run: mvn test
